# Django secret key (сгенерировать: python -c "from django.core.management.utils import get_random_secret_key; print(get_random_secret_key())")
SECRET_KEY=your-secret-key-here

# Настройки MongoDB
MONGODB_HOST=mongodb://localhost:27017
MONGODB_NAME=Tutoring

# Django debug mode
DEBUG=True